$white: #FFF;
$white-transparent: rgba(255,255,255, .3);
$bg-dark: #232D3B;
$brand-primary: #4AC53A;
$brand-lighter: #B9ECB5;
$brand-secondary: #F3F5F6;
$brand-gradient: linear-gradient(-180deg, #4DD64D 0%, #48B82A 100%);
$text-green: #1D7B0F;
$text-dark: #5D5F60;
$link-light: #CCD8E1;
$blue: #00BFE8;
$separator-top: #39495E;
$separator-bottom: #0C121A;