<li class="nav-item">
	<img src="/images/icons/{{navicon}}.svg" class="nav-icon" />
	<a href="{{navlink}}" class="{{status}}">{{navtext}}</a>
	<img src="/images/icons/plus-icon.svg" class="nav-expand" />
</li>