<hr />
<ul class="nav-main activities">
	<h4 class="nav-section-title"> Activities </h4>
	{{> atoms-navitem(navicon: "building", navlink: "http://link.com", navtext: "Building")}}
	{{> atoms-navitem(navicon: "housing", navlink: "http://link.com", navtext: "Housing")}}
	{{> atoms-navitem(navicon: "zoning", navlink: "http://link.com", navtext: "Zoning & Planing")}}
	{{> atoms-navitem(navicon: "code", navlink: "http://link.com", navtext: "Code Enforcement")}}
</ul>