<hr />
<ul class="nav-main">
	<h4 class="nav-section-title"> Main </h4>
	{{> atoms-navitem(navicon: "dashboard", navlink: "http://link.com", navtext: "Dashboard")}}
	{{> atoms-navitem(navicon: "schedule", navlink: "http://link.com", navtext: "Schedule")}}
	{{> atoms-navitem(navicon: "parcels", navlink: "http://link.com", navtext: "Parcels")}}
	{{> atoms-navitem(navicon: "admin-active", navlink: "http://link.com", navtext: "Admin", status: "active")}}
</ul>